body {
  /*width: 100%;*/
  padding-top: 6px;
  padding-left: 10px;
  font-color: #4183C4;
  font-family: Helvetica;
} 

a {
  text-decoration: none;
  color: #4183C4;
  cursor: pointer;
}

a[id="new"] {
  text-decoration: none;
  color: #0F71EE;
  cursor: pointer;
}

a[id="stress"] {
  text-decoration: none;
  color: #0F71EE;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: #00C5CD;
}

#topbg { 
  width: 4000px;  
  background-image: url(../img/bg.png);       
  position: fixed;
  top: 0;
  margin-left: -200px;
  height: 45px;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

.white {
  background-color: #444;
}

.site-header {
  height: 65px;
  background-color: #fff;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  position: fixed;
  top: 0;
}

#logo {
  position: absolute;
  top: 3px;
  left: -1px;
}

#site-description {
  font-size: 30px;
  color: #eee;
  font-style: bold;
  font-family: "微软雅黑";
  letter-spacing: 4px;
  position: absolute;
  text-align: center;
  top: 10px;
  left: 380px;
 }

#nav_main {
  position: absolute;
  top: 44px;
  left: 170px;
}

#search {
  position: absolute;
  top: 50px;
  left: 810px;
 }

.search-box {
  height: 26px;
  border: 1px solid;
  border-radius: 18px;
  border-color: #BDBDBD;
  padding-left: 20px;
  font-size: 14px;
  outline:medium;
}

.search-box:focus {
  border-color: #8EE5EE;
}

.search-button {
  width: 20px;
  height: 20px;
  border: 0;
  margin-left: -36px;
  margin-top: 4px;
  cursor: pointer;
  background-color: #FFF;
}

.search-button img {
  margin-left: -6px;
  width: 20px;
  height: 20px;
}

#nav_main li {
  font-weight: bold;
  display: inline;
  margin-left: 50px;
}

.site-header hr {
  width: 1020px;
  border: 1px solid #E0E0E0;
  margin: 0 auto;
  margin-top: 124px;
}

#securesite,#awareness,
#tools,#teams {
  position: relative;
  top:-125px;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

#main {
  border: 1px #ccc solid;
  width: 1000px;
  margin: 0 auto;
  margin-top: 110px;
  padding-left: 20px;
}

#main h2 a {
  color: #0F71EE;
}

#main hr {
  width: 400px;
  float: left;
  margin-top: -10px;
  border: 1px solid #E0E0E0;
  margin-bottom: 22px;
}

#main h3 {
  color: #333;
  clear: left;
  margin-top: 18px;
  margin-bottom: 12px;
}

.content {
  font-weight: bold;
}

.content a {
  margin-left: 20px;
  font-size: 15px;
}

#footer {

  color: #ccc;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  background-image: url(../img/bgf.png);
  margin-left: -200px;
}

#footer a {
  color: #eee;
}

.record {
  margin-right: 60px;
}


#nav-bar {
  right: 40px;
  top: 240px;
  position: fixed;
}

#nav-bar table {
  line-height: 32px;
  text-align: center;
}

#nav-bar table th {
  color: #4183C4;

}

#nav-bar table td {
  border: 1px solid #DDD;
  font-size: 14px;
}


